.subscribe-box {
  background: url(../../img/bg.sea.png) no-repeat #fff2;
  background-blend-mode: overlay;
  background-size: cover;
  background-position-y: bottom;
  height: 438px;
}
.subscribe-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.subscribe-text {
  display: flex;
  flex-direction: row;
  width: 570px;
}
.subscribe-text p {
  margin-left: 28px;
}
.subscribe-text .vest {
  color: #222224;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.4px;
  font-weight: 500;
  min-height: 50px;
}
.subscribe-text .bin {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
  margin-top: 0;
  margin-bottom: 0;
}
.subscribe-text .dhaka {
  color: #222224;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.3px;
  margin-top: 0;
}
.rectangle {
  margin-left: 31px;
  margin-top: 41px;
  width: 140px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.rectangle .white {
  width: 38px;
  height: 4px;
  background-color: #d6d6d6;
}
.rectangle .white:hover {
  background-color: #f16d7f;
}
.rectangle .active-pink {
  background-color: #f16d7f;
}
.to-the-right {
  display: flex;
  align-items: center;
}
.to-the-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
}
.subscribe {
  text-align: center;
  width: 570px;
  height: 438px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: white 1px solid;
}
.subscribe p {
  color: #222224;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  line-height: 35px;
  margin: 0;
}
.subscribe span {
  color: #222224;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  text-transform: uppercase;
  line-height: 30px;
  margin: 0;
}
.subscribe input {
  width: 282px;
  height: 46px;
  border-radius: 23px 0 0 23px;
  border: none;
  background-color: #e1e1e1;
  opacity: 0.67;
  color: #222224;
  font-size: 14px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: 0.35px;
  padding-left: 28px;
  box-sizing: border-box;
  outline: none;
}
.subscribe button {
  width: 104px;
  height: 46px;
  border-radius: 0 23px 23px 0;
  border: none;
  background-color: #f16d7f;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  box-sizing: border-box;
  -webkit-transition: 0.1s linear;
  -o-transition: 0.1s linear;
  transition: 0.1s linear;
}
.subscribe button:hover {
  background-color: #c95567;
  -webkit-transition: 0.1s linear;
  -o-transition: 0.1s linear;
  transition: 0.1s linear;
}
.email {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 35px;
}
.email input {
  color: #222222;
}
.info {
  display: flex;
  flex-direction: row;
  margin-top: 109px;
  margin-bottom: 89px;
}
.info-text {
  width: 427px;
}
.info-text p {
  color: #898989;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.35px;
}
.bottom-nav {
  display: flex;
  margin-left: 70px;
}
.info-links {
  margin-left: 80px;
}
.info-links h2 {
  color: #f16d7f;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.45px;
}
.info-links ul {
  padding: 0;
}
.info-list {
  list-style-type: none;
}
.info-list-link {
  color: #898989;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 42px;
  text-transform: capitalize;
  -webkit-transition: 0.1s linear;
  -o-transition: 0.1s linear;
  transition: 0.1s linear;
}
.info-list-link:hover {
  color: #f16d7f;
  -webkit-transition: 0.1s linear;
  -o-transition: 0.1s linear;
  transition: 0.1s linear;
}
footer {
  height: 79px;
  background-color: #d4d4d4;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.footer-links {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-link {
  background-color: #fff;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-link:hover {
  background-color: #f16d7f;
  color: white;
}
.footer-link:active {
  background-color: #cccccc;
}
footer a {
  color: #b2b2b2;
  font-size: 16px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0.4px;
}
.copy {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1140px) {
  .container {
    width: 1140px;
  }
}
@media (max-width: 1139px) {
  .container {
    width: 720px;
  }
  .subscribe {
    border: none;
  }
  .subscribe-text {
    flex-direction: column;
    height: 105px;
    align-content: center;
    padding-top: 10px;
    margin: 0;
  }
  .subscribe-text img {
    width: 83px;
    margin: auto;
  }
  .subscribe-text p {
    margin-left: 0;
  }
  .subscribe-content {
    flex-direction: column;
    text-align: center;
  }
  .rectangle {
    margin: auto;
  }
}
@media (max-width: 719px) {
  .container {
    width: 540px;
  }
  .info {
    flex-wrap: wrap;
    justify-content: center;
  }
  .info .info-text {
    width: 540px;
    text-align: center;
  }
  .info ul {
    padding: 0;
    text-align: center;
  }
  .info-links {
    margin-left: 30px;
  }
  .header-left a,
  .info .brand {
    justify-content: center;
  }
  .bottom-nav {
    margin-left: 0;
  }
}
.subscribe {
  width: 520px;
}
.subscribe-text {
  width: 500px;
}
.footer {
  padding: 10px;
}
@media (max-width: 539px) {
  .container {
    width: 100%;
  }
}
@keyframes dropDown {
  from {
    margin-top: -2%;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
.header {
  min-height: 100px;
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.header-right,
.header-left {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header-left a,
.info .brand {
  color: #222222;
  display: flex;
  align-items: center;
  font-size: 27px;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.68px;
  margin-right: 37px;
}
.header-left a span,
.info .brand span {
  color: #f16d7f;
  font-weight: 900;
  letter-spacing: 0.68px;
}
.header-left img,
.info img {
  margin-right: 13px;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header-right .my-acc {
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.38px;
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
}
.header-right .my-acc:hover {
  background-color: #c95567;
  -webkit-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
}
.cart-icon {
  margin-right: 26px;
}
.cart {
  display: none;
}
.header-search {
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  height: 38px;
}
.header-search input {
  height: inherit;
  outline: none;
  overflow: hidden;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  width: 317px;
  background-color: #ffffff;
  color: #a4a4a4;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 0.35px;
  padding-left: 15px;
}
.header-search .input-text {
  color: #222222;
}
.header-search button {
  outline: none;
  overflow: hidden;
  border: none;
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.35px;
  padding: 11px;
  background-color: #fff;
  -webkit-transition: 0.1s linear;
  -o-transition: 0.1s linear;
  transition: 0.1s linear;
}
.header-search button:hover {
  background-color: #e6e6e6;
  -webkit-transition: 0.1s linear;
  -o-transition: 0.1s linear;
  transition: 0.1s linear;
}
.search-browse {
  width: 87px;
  height: 38px;
  border: 1px solid #e6e6e6;
  background-color: #cdcdcc;
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 0.35px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: opacity 0.4s linear;
  -o-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
}
.search-browse:hover {
  color: #f16d7f;
  -webkit-transition: opacity 0.4s linear;
  -o-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
}
.search-browse:hover .browse-menu-box {
  display: block;
}
.browse-menu-box {
  width: 225px;
  background-color: #ffffff;
  position: absolute;
  top: 7%;
  left: 25%;
  padding: 15px;
  border: 0.5px solid #dbdbdb;
  border-radius: 5px;
  display: none;
  -webkit-box-shadow: -6px 7px 16px -4px #949494;
  -moz-box-shadow: -6px 7px 16px -4px #949494;
  box-shadow: -6px 7px 16px -4px #949494;
}
.browse-menu-header {
  color: #232323;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.browse-menu-list {
  padding: 0;
  margin: 0 0 20px 0;
}
.browse-menu-list li {
  list-style-type: none;
}
.browse-menu-list li a {
  color: #4f4f4f;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.35px;
  text-transform: capitalize;
  margin-left: 10px;
}
.browse-menu-list li :hover {
  color: #f16d7f;
}
.cart-menu-box {
  flex-direction: column;
  justify-content: space-between;
  width: 248px;
  border: 0.5px solid #dbdbdb;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 19px;
  position: absolute;
  top: 78px;
  display: flex;
  z-index: 1000;
  -webkit-box-shadow: -6px 7px 16px -4px #4d4d4d;
  -moz-box-shadow: -6px 7px 16px -4px #4d4d4d;
  box-shadow: -6px 7px 16px -4px #4d4d4d;
  animation-duration: 0.5s;
  animation-name: dropDown;
}
.tail1 {
  width: 0;
  height: 0;
  border-style: inset;
  border-width: 10px 10px 10px 10px;
  border-color: transparent transparent #dbdbdb transparent;
  position: absolute;
}
.tail2 {
  width: 0;
  height: 0;
  border-style: inset;
  border-width: 10px 10px 10px 10px;
  border-color: transparent transparent #ffffff transparent;
  position: absolute;
}
.cart-tail1 {
  top: -20px;
  left: 57px;
}
.cart-tail2 {
  top: -19px;
  left: 57px;
}
.browse-tail1 {
  top: -20px;
  left: 62px;
}
.browse-tail2 {
  top: -19px;
  left: 62px;
}
.nav-tail1 {
  top: -20px;
  left: 110px;
}
.nav-tail2 {
  top: -19px;
  left: 110px;
}
.cart-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 110px;
  border-bottom: 1px solid #ededed;
}
.cart-menu img {
  width: 72px;
  height: 85px;
}
.cart-menu p {
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}
.cart-menu i {
  color: #e4af48;
  font-size: 12px;
}
.cart-menu span {
  color: #f16d7f;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}
.cart-menu a i {
  color: #c0c0c0;
  font-size: 16px;
}
.cart-menu a i:hover {
  color: #f16d7f;
}
.cart-menu-info {
  flex-grow: 1;
  padding: 15px;
}
.cart-menu-price {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}
.cart-menu-checkout-button-box {
  min-height: 118px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.cart-menu-checkout-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 50px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.cart-menu-checkout-button:hover {
  border: 1px solid #f16d7f;
  color: #f16d7f;
}
.header-line {
  border-bottom: 1px solid #e8e8e8;
}
.nav {
  min-height: 51px;
  font-size: 14px;
}
.nav .menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  line-height: 51px;
  margin-top: 0;
  margin-bottom: 0;
}
.nav > .menu-list > li:not(:last-child) {
  margin-right: 48px;
}
.menu-link {
  color: #222222;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 38px;
}
.nav .menu-list a:hover {
  color: #f16d7f;
}
.menu-item:hover {
  border-bottom: solid #ef5b70;
  margin-bottom: -3px;
}
.nav-menu-box {
  width: 770px;
  height: 300px;
  border-radius: 5px;
  border: 0.5px solid #dbdbdb;
  background-color: #ffffff;
  background-image: url("../../img/Layer_42.jpg");
  background-repeat: no-repeat;
  background-position: right 4% top 92%;
  background-size: 270px 125px;
  position: absolute;
  top: 15.5%;
  left: 35%;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-between;
  padding: 20px 10px 0 25px;
}
.nav-menu-header {
  width: 215px;
  color: #232323;
  font-size: 14px;
  font-weight: 600;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  border-bottom: 1px solid #e8e8e8;
}
.nav-menu-list {
  list-style-type: none;
  margin: 0 0 14px 0;
  padding: 0;
  line-height: 20px;
}
.nav-menu-list a {
  color: #646464;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.35px;
  text-decoration: none;
}
.nav-menu-list :hover {
  color: #f16d7f;
}
.nav-menu-sale {
  width: 250px;
  height: 130px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.55px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.nav-menu-sale a {
  margin: 0;
  line-height: 24px;
  padding-bottom: 20px;
  color: white;
}
.women-hover:hover .nav-menu-box {
  display: flex;
}
.nav-checkbox {
  display: none;
}
.nav-button {
  background-color: #fff;
  color: #f16d7f;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #e8e8e8;
  width: 130px;
  height: 38px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  user-select: none;
  margin-top: 5px;
}
.nav-button:hover {
  background-color: #f16d7f;
  color: #fff;
}
.nav-button:active {
  background-color: #c95567;
}
@media (min-width: 1140px) {
  .container {
    width: 1140px;
  }
  .nav-button {
    display: none;
  }
}
@media (max-width: 1139px) {
  .container {
    width: 720px;
  }
  .header-search input {
    width: 189px;
  }
  .cart-icon {
    margin-left: 30px;
  }
  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav .menu-list {
    display: none;
    flex-direction: column;
    padding: 0;
    background-color: #f16d7f;
    position: absolute;
    width: 100%;
  }
  .nav .menu-list a:hover {
    color: #fff;
  }
  .nav-button {
    display: flex;
  }
  input.nav-checkbox:checked + ul {
    display: flex;
  }
  .menu-link {
    color: #fff;
    font-size: 16px;
  }
  .nav > .menu-list > li:not(:last-child) {
    margin: 0;
  }
  .women-hover:hover .nav-menu-box {
    display: none;
  }
  .menu-item {
    width: inherit;
    text-align: center;
  }
  .menu-item:hover {
    background-color: #c95567;
    border: none;
  }
}
@media (max-width: 719px) {
  .container {
    width: 540px;
  }
  .header {
    flex-direction: column;
  }
  .header-search {
    margin: 10px;
  }
  .header-left {
    flex-direction: column;
    align-items: center;
  }
  .header-right {
    justify-content: center;
  }
}
@media (max-width: 539px) {
  .container {
    width: 100%;
  }
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v17/S6u-w4BMUTPHjxsIPy-v.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v17/S6u8w4BMUTPHh30wWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh7USew8.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHvxk.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh6UVew8.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh50Xew8.ttf) format('truetype');
}
body {
  margin: 0;
  padding: 0;
  color: #222222;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
a {
  text-decoration: none;
}
.container {
  margin: 0 auto;
}
.citizen {
  height: 665px;
  background-color: #e8e8e8;
  background-image: url("../../img/topHeaderBack.png");
  background-repeat: no-repeat;
  background-size: 608px;
  background-position: right 25% top 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.citizen-text {
  border-left: 12px solid #f16d7f;
  padding-left: 12px;
}
.tb {
  font-size: 60px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin: 0;
  margin-bottom: 20px;
  line-height: 45px;
}
.lux {
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
  line-height: 35px;
}
.the-brand {
  margin-top: -50px;
}
.the-brand span {
  color: #f16d7f;
  letter-spacing: 1px;
}
.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin-top: 98px;
}
.content div {
  text-transform: uppercase;
  background-color: #fff;
  display: inline-block;
}
.content div h4 {
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 0.45px;
  margin-top: 16px;
  margin-left: 18px;
  margin-bottom: 16px;
}
.content div h3 {
  color: #f16d7f;
  font-size: 30px;
  letter-spacing: 0.75px;
  margin-left: 18px;
  margin-top: 16px;
  margin-right: 18px;
  margin-bottom: 16px;
  font-weight: 800;
}
.content-text {
  margin-top: 26px;
  line-height: 0.5;
}
.for-men {
  background-image: url("../../img/offer1.jpg");
  background-repeat: no-repeat;
  width: 560px;
  height: 542px;
}
.acces {
  background-image: url("../../img/offer2.jpg");
  background-repeat: no-repeat;
  width: 560px;
  height: 261px;
}
.women {
  background-image: url("../../img/offer3.jpg");
  background-repeat: no-repeat;
  width: 560px;
  height: 261px;
}
.for-kids {
  background-image: url("../../img/offer4.jpg");
  background-repeat: no-repeat;
  width: 560px;
  height: 542px;
}
.featured-items {
  text-align: center;
}
.featured-items h3 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.75px;
  margin-top: 100px;
  margin-bottom: 16px;
}
.featured-items p {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  margin: 0;
}
.featured-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.featured-content .description {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 14px;
}
.featured-content .price {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 14px;
}
.products {
  position: relative;
  margin-top: 60px;
}
.products .prod-img {
  width: 261px;
  height: 280px;
}
.img-hover {
  width: 261px;
  height: 279px;
  background-color: #3a383899;
  background-blend-mode: overlay;
  background-size: 261px 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity 0.4s linear;
  -o-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
}
.img-hover button {
  background-color: #0000;
  background-blend-mode: overlay;
  width: 140px;
  height: 45px;
  border: 1px solid #ffffff;
  color: white;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: -50px;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
.img-hover button:hover {
  -webkit-box-shadow: 4px 3px 50px -6px #ffffff;
  -moz-box-shadow: 4px 3px 50px -6px #ffffff;
  box-shadow: 4px 3px 50px -6px #ffffff;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
.products:hover {
  -webkit-box-shadow: 7px 9px 5px 0px #bdb2b8;
  -moz-box-shadow: 7px 9px 5px 0px #bdb2b8;
  box-shadow: 7px 9px 5px 0px #bdb2b8;
}
.products:hover .img-hover {
  opacity: 1;
  -webkit-transition: opacity 0.4s linear;
  -o-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
}
.all-product-box {
  display: flex;
  justify-content: center;
  margin-top: 79px;
}
.all-product {
  width: 212px;
  height: 48px;
  background-color: #f16d7f;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: 0.1s linear;
  -o-transition: 0.1s linear;
  transition: 0.1s linear;
}
.all-product a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
}
.all-product:hover {
  background-color: #c95567;
  -webkit-transition: 0.1s linear;
  -o-transition: 0.1s linear;
  transition: 0.1s linear;
}
.sale {
  height: 529px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  margin-top: 113px;
  margin-bottom: 97px;
}
.sale h3 {
  font-size: 32px;
  letter-spacing: 0.9px;
  margin: 0;
}
.sale h2 {
  font-size: 54px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
}
.sale h2 span {
  color: #f16d7f;
}
.sale .sale-background {
  background: url(../../img/bg-women.jpg) no-repeat, #0004;
  background-size: cover;
  background-blend-mode: overlay;
  flex-grow: 1;
}
.sale .sale-text {
  margin-top: 146px;
  margin-left: 39px;
}
.sale .sale-info-box {
  background-color: #222224;
  background-position: right;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 373px;
  box-sizing: border-box;
}
.sale .sale-info-box .sale-block {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-start;
}
.sale .sale-info-box .sale-block .sale-img {
  width: 270px;
  text-align: center;
}
.sale .sale-info-box .sale-block .sale-info {
  padding-right: 25px;
}
.sale .sale-info-box .sale-block h4 {
  margin: 5px 0 0 0;
}
.sale-block:hover h4 {
  color: #f16d7f;
}
@media (min-width: 1140px) {
  .container {
    width: 1140px;
  }
  .content {
    height: 838px;
  }
}
@media (max-width: 1139px) {
  .container {
    width: 720px;
  }
  .citizen-text {
    margin-top: 100px;
  }
  .content {
    flex-wrap: nowrap;
    align-items: center;
  }
  .sale {
    flex-direction: column;
  }
  .sale-text {
    margin-bottom: 20px;
  }
  .sale .sale-info-box {
    width: inherit;
    padding-top: 10px;
  }
  .sale .sale-info-box .sale-block {
    align-items: center;
  }
}
@media (max-width: 719px) {
  .container {
    width: 540px;
  }
  .for-men,
  .for-kids,
  .acces,
  .women {
    width: 520px;
  }
  .for-men {
    background-position: 70% 0;
  }
  .citizen-text {
    background-color: #fff5;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media (max-width: 539px) {
  .container {
    width: 100%;
  }
  .featured-content {
    justify-content: center;
  }
}
.new-arrivals-box {
  height: 151px;
  background-color: #f8f3f4;
  display: flex;
  align-items: center;
}
.new-arrivals {
  display: flex;
  justify-content: space-between;
}
.new-arrivals h1 {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
}
.new-arrivals ul {
  display: flex;
  flex-direction: row;
}
.new-arr-list {
  list-style-type: none;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 300;
}
.new-arr-list a {
  color: #636363;
}
.new-arr-list a:hover {
  color: #f16d7f;
  font-weight: 700;
}
.new-arr-list-active {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
.new-arr-list-active a {
  color: #f16d7f;
}
.prod-row {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.prod-row .prod-details {
  flex-grow: 1;
  text-align: left;
}
.prod-row .prod-cell {
  width: 120px;
  text-align: center;
}
.prod-det-box {
  margin-top: 85px;
}
.prod-det {
  font-size: 13px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -0.2px;
  border-bottom: 1px solid #eaeaea;
  height: 40px;
}
.prod-det a {
  color: #222222;
}
.prod-det-content {
  height: 162px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: -20px !important;
  border-bottom: 1px solid #eaeaea;
  padding-top: 20px;
}
.prod-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.prod-left img {
  width: 100px;
  height: 115px;
  margin-right: 20px;
}
.prod-left a {
  color: #222222;
  font-size: 13px;
  font-weight: 800;
  text-transform: uppercase;
  -webkit-transition: 0.1s linear;
  -o-transition: 0.1s linear;
  transition: 0.1s linear;
}
.prod-left a:hover {
  color: #f16d7f;
  -webkit-transition: 0.1s linear;
  -o-transition: 0.1s linear;
  transition: 0.1s linear;
}
.prod-left p {
  font-size: 13px;
  color: #6c6c6c;
  font-weight: 600;
  text-transform: capitalize;
  margin: 2px;
}
.prod-left p span {
  color: #898989;
  font-weight: 500;
  margin-left: 4px;
}
.prod-left-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 7px;
  padding-bottom: 14px;
}
.action {
  color: #c0c0c0;
  font-size: 16px;
  text-transform: uppercase;
}
.action:hover {
  color: #f16d7f;
}
.quantity {
  width: 54px;
  height: 30px;
  border: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  text-align: center;
  margin: 0;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.prod-button {
  display: flex;
  justify-content: space-between;
}
.prod-button button {
  width: 235px;
  height: 50px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;
  margin-top: 44px;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
.prod-button button:hover {
  background-color: #f16d7f;
  color: white;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
.shipping-adress-box {
  margin-top: 63px;
  margin-bottom: 79px;
  height: 300px;
}
.shipping-adress {
  height: 410px;
  margin-top: 63px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.shipping-adress h2 {
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 22px;
  margin-top: 0;
}
.shipping-adress p {
  color: #000000;
  font-size: 14px;
  font-weight: 300;
  margin-top: 6px;
}
.shipping-adress form {
  display: flex;
  flex-direction: column;
}
input::-moz-placeholder {
  color: #b1b1b1;
}
input::-webkit-input-placeholder {
  color: #b1b1b1;
}
.city,
.state,
.postcode,
.coupon {
  width: 335px;
  height: 45px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #4a4a4a;
  font-size: 13px;
  font-weight: 300;
  outline: none;
  padding-left: 18px;
  margin-bottom: 20px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.white-button-box {
  display: inline-block;
}
.white-button {
  color: #757575;
  font-size: 11px;
  font-weight: 800;
  text-transform: uppercase;
  height: 35px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  outline: none;
  padding-left: 8px;
  padding-right: 8px;
  -webkit-transition: 0.1s linear;
  -o-transition: 0.1s linear;
  transition: 0.1s linear;
}
.white-button:hover {
  background-color: #f16d7f;
  color: white;
  -webkit-transition: 0.1s linear;
  -o-transition: 0.1s linear;
  transition: 0.1s linear;
}
.sub-total-box {
  width: 360px;
  height: 214px;
  background-color: #f5f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: right;
}
.sub-total-box .sub-total {
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 40px;
  margin-right: 41px;
}
.sub-total-box .grand-total {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 41px;
  margin-top: 14px;
}
.sub-total-box .grand-total span {
  color: #f16d7f;
}
.sub-total-box .proceed {
  margin-bottom: 44px;
  text-transform: uppercase;
  background-color: #f16d7f;
  width: 273px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}
.sub-total-box .proceed a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.sub-total-box .proceed:hover {
  background-color: #c95567;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}
.sub-total-hr {
  width: 275px;
  height: 1px;
  margin: 15px auto;
  background-color: #e2e2e2;
}
.proceed-box {
  display: flex;
  justify-content: center;
  align-content: center;
}
.single-page-slider {
  height: 777px;
  border: 1px solid #eaeaea;
  background-color: #f7f7f7;
  background-image: url("../../img/layer_421.jpg");
  background-repeat: no-repeat;
  background-position: right 50% top 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.single-page-slider-arrow {
  width: 50px;
  height: 50px;
  background-color: #f16d7f;
  color: white;
  font-size: 24px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
.single-page-slider-arrow:hover {
  background-color: #c95567;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
.single-page-info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.single-page-info {
  border: 1px solid #eaeaea;
  margin-top: -80px;
  width: 1141px;
  height: 730px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.single-page-info .single-page-info-h3 {
  color: #f16d7f;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.single-page-info .single-page-info-h2 {
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 67px;
}
.single-page-info .single-page-info-text {
  color: #5e5e5e;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin: 0 0 28px 0;
  text-align: center;
}
.single-page-scroll-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.single-page-scroll-box .single-page-scroll {
  width: 42px;
  height: 1px;
  background-color: #eaeaea;
}
.single-page-scroll-box .single-page-scroll-active {
  width: 63px;
  height: 3px;
  background-color: #ef5b70;
}
.single-page-info-border {
  width: 642px;
  height: 400px;
  margin-top: 73px;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.single-page-info-box2 {
  width: 340px;
}
.single-page-info-box2 .single-page-info2 {
  color: #b9b9b9;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.single-page-info-box2 .single-page-info2 span {
  color: #2f2f2f;
}
.single-page-info-price {
  color: #ef5b70;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}
.single-page-inputs {
  margin-top: 63px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.single-page-inputs .single-page-input {
  display: flex;
  flex-direction: column;
}
.single-page-inputs .single-page-input label {
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.single-page-inputs .single-page-input input {
  width: 125px;
  height: 35px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  padding-left: 15px;
  outline: none;
}
.single-page-button {
  width: 537px;
  height: 55px;
  border: 1px solid #ef5b70;
  background-color: #ffffff;
  color: #ef5b70;
  font-size: 16px;
  font-weight: 700;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 28px;
  margin-bottom: 122px;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
.single-page-button:hover {
  -webkit-box-shadow: 10px 9px 18px 6px #f7cde4;
  -moz-box-shadow: 10px 9px 18px 6px #f7cde4;
  box-shadow: 10px 9px 18px 6px #f7cde4;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
.single-page-content-box {
  margin-top: 119px;
  margin-bottom: 94px;
  display: flex;
  flex-direction: column;
}
.single-page-content-box h1 {
  color: #4d4d4d;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
.single-page-content {
  margin-top: 72px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.single-page-content .single-page-content-img {
  width: 261px;
  height: 280px;
  background-color: #e9e9e9;
  display: flex;
  justify-content: center;
}
.single-page-content .single-page-content-description {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 15px;
}
.single-page-content .single-page-content-price {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 15px;
}
.single-img-hover {
  width: 261px;
  height: 280px;
  background-color: #3a383899;
  background-blend-mode: overlay;
  background-size: 261px 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
.single-img-hover button {
  background-color: #0000;
  background-blend-mode: overlay;
  width: 140px;
  height: 45px;
  border: 1px solid #ffffff;
  color: white;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: -50px;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
.single-img-hover button:hover {
  -webkit-box-shadow: 4px 3px 50px -6px #ffffff;
  -moz-box-shadow: 4px 3px 50px -6px #ffffff;
  box-shadow: 4px 3px 50px -6px #ffffff;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
.single-page-content-product {
  position: relative;
  -webkit-transition: opacity 0.4s linear;
  -o-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
}
.single-page-content-product:hover {
  -webkit-box-shadow: 7px 9px 5px 0px #bdb2b8;
  -moz-box-shadow: 7px 9px 5px 0px #bdb2b8;
  box-shadow: 7px 9px 5px 0px #bdb2b8;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
.single-page-content-product:hover .single-img-hover {
  opacity: 1;
  -webkit-transition: opacity 0.4s linear;
  -o-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
}
.checkout-content-box {
  margin-bottom: 93px;
}
.checkout-content {
  min-height: 72px;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.checkout-content h2 {
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
}
.checkout-content h3 {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 33px;
}
.checkout-content p {
  color: #b3b2b2;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 15px;
  margin-top: 0;
}
.checkout-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 34px;
}
.checkout-left {
  width: 550px;
}
.checkout-left .checkout-input {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.checkout-left input {
  width: 14px;
  height: 14px;
  border: 2px solid #555555;
  background-color: #ffffff;
  margin: 0 14px 0 0;
  caret-color: #222222;
}
.checkout-left label {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.checkout-right {
  width: 550px;
}
.checkout-right label {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: block;
}
.checkout-right label span {
  font-size: 17px;
}
.checkout-right span {
  color: #ff0d0d;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 13px;
}
.checkout-right input {
  width: 390px;
  height: 45px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  outline: none;
  margin-bottom: 14px;
  padding-left: 15px;
  font-size: 16px;
}
.checkout-right .checkout-forgot {
  font-size: 14px;
  font-weight: 600;
  color: #222222;
}
.checkout-right .checkout-forgot:hover {
  color: #f16d7f;
}
.checkout-button {
  width: 180px;
  height: 50px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 32px;
  margin-top: 25px;
  margin-bottom: 79px;
  outline: none;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  cursor: pointer;
}
.checkout-button:hover {
  color: white;
  background-color: #f16d7f;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
.transform1 {
  transition-duration: 0.7s;
}
.transform1:hover {
  transition-duration: 0.7s;
  transform: scale(1.2, 1.2);
}
.transform2 {
  transition-duration: 3s;
}
.transform2:hover {
  transition-duration: 3s;
  transform: rotate(360deg);
}
.transform3 {
  transition-duration: 3s;
}
.transform3:hover {
  transition-duration: 3s;
  transform: rotateY(360deg);
}
.transform4 {
  transition-duration: 3s;
}
.transform4:hover {
  transition-duration: 3s;
  transform: scale(1.2, 1.2) rotate(360deg);
}
.input-hide {
  display: none;
}
.input-hide + label div.content-hide {
  display: none;
}
.input-hide:checked + label div.content-hide {
  display: block;
}
.product-nav-box {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}
.product-nav h2 {
  width: 230px;
  height: 37px;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: #ef5b70 5px solid;
  border-bottom: #eae1e1 1px solid;
  padding-left: 11px;
  margin-right: 55px;
}
.product-nav .active-h2 {
  color: #ef5b70;
}
.category-list ul {
  list-style-type: none;
  padding-left: 16px;
}
.product-content-box {
  display: flex;
  flex-direction: column;
}
.product-content {
  display: flex;
  justify-content: space-between;
}
.product-content h2 {
  font-size: 14px;
  font-weight: bold;
  color: #6f6e6e;
  text-transform: uppercase;
}
.product-content ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
}
.product-content li {
  list-style-type: none;
  margin-right: 10px;
}
.catError {
  color: #f16d7f;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.choose-list {
  width: 200px;
}
.product-link a {
  line-height: 33px;
  text-decoration: none;
  font-size: 14px;
  color: #6f6e6e;
  font-weight: 600;
  text-transform: capitalize;
}
.product-link a:hover {
  color: #f16d7f;
}
.product-link-border a {
  border-right: #bdbcbc 1px solid;
  padding-right: 10px;
}
.product-size {
  margin-left: 110px;
  padding-right: 58px;
  width: 222px;
}
.product-size div {
  font-size: 14px;
  color: #6f6e6e;
  line-height: 20px;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 500;
}
.product-size input {
  margin: 0 5px 0 0;
}
.product-size label {
  width: 47px;
  margin-bottom: 10px;
  margin-right: 7px;
}
.product-price {
  width: 270px;
}
.product-price input {
  width: 269px;
  background: #ffffff;
}
.price-range {
  font-size: 14px;
  color: #6f6e6e;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}
.sort-box {
  height: 50px;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  padding-left: 9px;
}
.sort-box div {
  background-color: #fff;
  height: 30px;
  display: flex;
  align-items: center;
}
.sort-by {
  background-color: #fff;
}
.sort-by label {
  font-size: 14px;
  color: #6f6e6e;
  text-transform: capitalize;
  font-weight: 500;
  margin-left: 10px;
}
.sort-by option:active {
  outline: none;
}
.pagination-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 110px;
  margin-top: 40px;
}
.pagination {
  width: 240px;
  height: 30px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  padding: 10px;
}
.pagination ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.pagination li {
  list-style-type: none;
}
.pagination li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #c4c4c4;
  line-height: 26px;
}
.pagination li a:hover {
  color: #f16d7f;
}
.active-pagination {
  color: #f16d7f !important;
}
.view-all {
  height: 44px;
  width: 150px;
  background-color: #fff;
  outline: none;
  color: #f16d7f;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #f16d7f;
  border-radius: 3px;
}
.view-all:hover {
  -webkit-box-shadow: 3px 3px 13px 6px #f7cde4;
  -moz-box-shadow: 3px 3px 13px 6px #f7cde4;
  box-shadow: 3px 3px 13px 6px #f7cde4;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
.sale-info-horiz-box {
  background-color: #222224;
  min-height: 341px;
  display: flex;
  align-items: center;
}
.sale-info-horiz .sale-block:nth-child(2) {
  margin: -7px;
}
.sale-info-horiz {
  display: flex;
  flex-direction: row;
}
.sale-info-horiz h4 {
  color: white;
  font-size: 20px;
}
.sale-info-horiz p {
  color: white;
}
.sale-info-horiz .sale-block-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 22px;
  margin-right: 22px;
}
