@keyframes dropDown {
  from {
    margin-top: -2%;
    opacity: 0;
  }

  to {
    margin-top: 0;
    opacity: 1;
  }
}

.header {
  min-height: 100px;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.header-right, .header-left {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header-left a, .info .brand {
  color: #222222;
  display: flex;
  align-items: center;
  font-size: 27px;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.68px;
  margin-right: 37px;
}

.header-left a span, .info .brand span {
  color: @mainColor;
  font-weight: 900;
  letter-spacing: 0.68px;
}

.header-left img, .info img {
  margin-right: 13px;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header-right {
  .my-acc {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.38px;
    width: 130px;
    height: 38px;
    background-color: #f16d7f;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    &:hover {
      background-color: @mainHoverColor;
      -webkit-transition: 0.4s linear;
      -o-transition: 0.4s linear;
      transition: 0.4s linear;
    }
  }
}

.cart-icon {
  margin-right: 26px;
}

.cart {
  display: none;
}

.header-search {
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  height: 38px;
  input {
    height: inherit;
    outline: none;
    overflow: hidden;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    width: 317px;
    background-color: #ffffff;
    color: #a4a4a4;
    font-size: 14px;
    line-height: 32px;
    letter-spacing: 0.35px;
    padding-left: 15px;
  }
  .input-text {
    color: #222222;
  }
  button {
    outline: none;
    overflow: hidden;
    border: none;
    color: #a4a4a4;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.35px;
    padding: 11px;
    background-color: #fff;
    -webkit-transition: 0.1s linear;
    -o-transition: 0.1s linear;
    transition: 0.1s linear;
    &:hover {
      background-color: #e6e6e6;
      -webkit-transition: 0.1s linear;
      -o-transition: 0.1s linear;
      transition: 0.1s linear;
    }
  }
}

.search-browse {
  width: 87px;
  height: 38px;
  border: 1px solid #e6e6e6;
  background-color: #cdcdcc;
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 0.35px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: opacity 0.4s linear;
  -o-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
}

.search-browse:hover {
  color: @mainColor;
  -webkit-transition: opacity 0.4s linear;
  -o-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
  & .browse-menu-box {
    display: block;
  }
}

.browse-menu-box {
  width: 225px;
  background-color: #ffffff;
  position: absolute;
  top: 7%;
  left: 25%;
  padding: 15px;
  border: 0.5px solid #dbdbdb;
  border-radius: 5px;
  display: none;
  -webkit-box-shadow: -6px 7px 16px -4px rgba(148,148,148,1);
  -moz-box-shadow: -6px 7px 16px -4px rgba(148,148,148,1);
  box-shadow: -6px 7px 16px -4px rgba(148,148,148,1);
}

.browse-menu-header {
  color: #232323;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.browse-menu-list {
  padding: 0;
  margin: 0 0 20px 0;
  li {
    list-style-type: none;
    a {
      color: #4f4f4f;
      font-size: 14px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0.35px;
      text-transform: capitalize;
      margin-left: 10px;
    }
    & :hover {
      color: @mainColor;
    }
  }
}

.cart-menu-box {
  flex-direction: column;
  justify-content: space-between;
  width: 248px;
  border: 0.5px solid #dbdbdb;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 19px;
  position: absolute;
  top: 78px;
  display: flex;
  z-index: 1000;
  -webkit-box-shadow: -6px 7px 16px -4px rgba(77,77,77,1);
  -moz-box-shadow: -6px 7px 16px -4px rgba(77,77,77,1);
  box-shadow: -6px 7px 16px -4px rgba(77,77,77,1);
  animation-duration: 0.5s;
  animation-name: dropDown;
}


.tail1 {
  width: 0;
  height: 0;
  border-style: inset;
  border-width: 10px 10px 10px 10px;
  border-color: transparent transparent  #dbdbdb transparent;
  position: absolute;
}

.tail2 {
  width: 0;
  height: 0;
  border-style: inset;
  border-width: 10px 10px 10px 10px;
  border-color: transparent transparent #ffffff transparent;
  position: absolute;
}

.cart-tail1 {
  top: -20px;
  left: 57px;
}

.cart-tail2 {
  top: -19px;
  left: 57px;
}

.browse-tail1 {
  top: -20px;
  left: 62px;
}

.browse-tail2 {
  top: -19px;
  left: 62px;
}

.nav-tail1 {
  top: -20px;
  left: 110px;
}

.nav-tail2 {
  top: -19px;
  left: 110px;
}

.cart-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 110px;
  border-bottom: 1px solid #ededed;
  img {
    width: 72px;
    height: 85px;
  }
  p {
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0 0 5px 0;
  }
  i {
    color: #e4af48;
    font-size: 12px;
  }
  span {
    color: @mainColor;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
  }
  a {
    i  {
      color: #c0c0c0;
      font-size: 16px;
      &:hover {
        color: @mainColor;
      }
    }
  }
}

.cart-menu-info{
  flex-grow: 1;
  padding: 15px;
}

.cart-menu-price {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

.cart-menu-checkout-button-box {
  min-height: 118px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cart-menu-checkout-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 50px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  &:hover {
    border: 1px solid @mainColor;
    color: @mainColor;
  }
}

.header-line {
  border-bottom: 1px solid #e8e8e8;
}

.nav {
  min-height: 51px;
  font-size: 14px;

  .menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    line-height: 51px;
    margin-top: 0;
    margin-bottom: 0;
  }
  & > .menu-list > li:not(:last-child) {
    margin-right: 48px;
  }
}

.menu-link {
  color: #222222;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 38px;
}

.nav .menu-list a:hover {
  color: @mainColor;
}

.menu-item:hover {
  border-bottom: solid #ef5b70;
  margin-bottom: -3px;
}

.nav-menu-box {
  width: 770px;
  height: 300px;
  border-radius: 5px;
  border: 0.5px solid #dbdbdb;
  background-color: #ffffff;
  background-image: url("../../img/Layer_42.jpg");
  background-repeat: no-repeat;
  background-position: right 4% top 92%;
  background-size: 270px 125px;
  position: absolute;
  top: 15.5%;
  left: 35%;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-between;
  padding: 20px 10px 0 25px;
}

.nav-menu-header {
  width: 215px;
  color: #232323;
  font-size: 14px;
  font-weight: 600;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  border-bottom: 1px solid #e8e8e8;
}

.nav-menu-list {
  list-style-type: none;
  margin: 0 0 14px 0;
  padding: 0;
  line-height: 20px;
  a {
    color: #646464;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.35px;
    text-decoration: none;
  }
  & :hover {
    color: @mainColor;
  }
}

.nav-menu-sale {
  width: 250px;
  height: 130px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.55px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  a {
    margin: 0;
    line-height: 24px;
    padding-bottom: 20px;
    color: white;
  }
}

.women-hover:hover .nav-menu-box {
  display: flex;
}

.nav-checkbox {
  display: none;
}

.nav-button {
  background-color: #fff;
  color: @mainColor;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #e8e8e8;
  width: 130px;
  height: 38px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  user-select: none;
  margin-top: 5px;
  &:hover {
    background-color: @mainColor;
    color: #fff;
  }
  &:active {
    background-color: @mainHoverColor;
  }
}

@media (min-width: 1140px) {
  .container {
    width: 1140px;
  }
  .nav-button {
    display: none;
  }
}

@media (max-width: 1139px) {
  .container {
    width: 720px;
  }
  .header-search input {
    width: 189px;
  }
  .cart-icon {
    margin-left: 30px;
  }
  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav .menu-list {
    display: none;
    flex-direction: column;
    padding: 0;
    background-color: @mainColor;
    position: absolute;
    width: 100%;
    & a:hover {
      color: #fff;
    }
  }
  .nav-button {
    display: flex;
  }
  input.nav-checkbox:checked+ul {
    display: flex;
  }
  .menu-link {
    color: #fff;
    font-size: 16px;
  }
  .nav > .menu-list > li:not(:last-child) {
    margin: 0;
  }
  .women-hover:hover .nav-menu-box {
    display: none;
  }
  .menu-item {
    width: inherit;
    text-align: center;
    &:hover {
      background-color: @mainHoverColor;
      border: none;
    }
  }
}

@media (max-width: 719px) {
  .container {
    width: 540px;
  }
  .header {
    flex-direction: column;
  }
  .header-search {
    margin: 10px;
  }
  .header-left {
    flex-direction: column;
    align-items: center;
  }
  .header-right {
    justify-content: center;
  }
}

@media (max-width: 539px) {
  .container {
    width: 100%;
  }
}